layout {

    focus-ring {
        active-color   "#ffc49f"
        inactive-color "#171210"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffc49f"
        inactive-color "#171210"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffc49f"
        inactive-color "#e1a985"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffc49f80"
    }
}

recent-windows {
    highlight {
        active-color "#ffc49f"
        urgent-color "#ffb4ab"
    }
}
