layout {

    focus-ring {
        active-color   "#f2bb91"
        inactive-color "#171310"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f2bb91"
        inactive-color "#171310"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#f2bb91"
        inactive-color "#b78760"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f2bb9180"
    }
}

recent-windows {
    highlight {
        active-color "#f2bb91"
        urgent-color "#ffb4ab"
    }
}
