layout {

    focus-ring {
        active-color   "#ebc2d6"
        inactive-color "#151314"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ebc2d6"
        inactive-color "#151314"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ebc2d6"
        inactive-color "#cea7ba"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ebc2d680"
    }
}

recent-windows {
    highlight {
        active-color "#ebc2d6"
        urgent-color "#ffb4ab"
    }
}
