environment {
    GTK_USE_PORTAL "1"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    GBM_BACKEND "nvidia-drm"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    NIRI_DISABLE_SECONDARY_SELECTION_SYNC "1"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_FILESYSTEM_REGISTRY "xdgdesktopportal"
    QT_QPA_PLATFORM "wayland;xcb"
    FZF_DEFAULT_OPTS_FILE "/home/hihity/.config/fzf/noctalia.conf"
}
