input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle,caps:escape"
        }
        numlock
    }
    mouse {
        accel-speed -0.4
    }
    // focus-follows-mouse
}
