layout {
    // always-center-single-column
    gaps 8
    preset-column-widths {
        fixed 1260
        fixed 840
        fixed 630
        fixed 420
    }
    preset-window-heights {
        fixed 640
        fixed 480
        fixed 320
        fixed 960
    }
}
