layout {
    // always-center-single-column
    gaps 8
    preset-column-widths {
        fixed 1260
        fixed 836
        fixed 624
        fixed 412
    }
    preset-window-heights {
        fixed 636
        fixed 476
        fixed 316
        fixed 964
    }
}
