window-rule {
    // open-floating false
    geometry-corner-radius 9
    clip-to-geometry true
    opacity 0.9
    draw-border-with-background false
    focus-ring {
        off
    }
    border {
         on
         width 4
    }
    shadow {
          off
    }
    default-column-width { fixed 630; }
    default-window-height { fixed 960; }
    open-fullscreen false
    background-effect {
          blur true
          xray true
          noise 0
          saturation 1
    }
}

window-rule {
    match app-id="firefox"
    match app-id="obsidian"
    match app-id="io.github.elyprismlauncher.ElyPrismLauncher"
    match app-id="zen"
    match app-id="vesktop"
    match app-id="org.pitivi.Pitivi"
    match app-id="io.github.celluloid_player.Celluloid"
    match app-id="org.gnome.Evince"
    match app-id="org.gnome.eog"
    match app-id="de.haeckerfelix.Fragments"
    default-column-width { fixed 1260; }
    default-window-height { fixed 960; }
}
window-rule {
    match app-id="org.telegram.desktop"
    match app-id="kitty"
    default-column-width { fixed 840; }
    default-window-height { fixed 960; }
}
window-rule {
    match app-id="scrcpy"
    default-column-width { fixed 800; }
    default-window-height { fixed 360; }
}
