window-rule {
    // open-floating false
    geometry-corner-radius 12
    clip-to-geometry true
    opacity 0.9
    draw-border-with-background false
    focus-ring {
        off
    }
    border {
         on
         width 2
    }
    shadow {
          off
          spread 0
          offset x=0 y=4
          color "#00000040"
          inactive-color "#00000026"
    }
    default-column-width { proportion 0.5; }
    open-fullscreen false
    background-effect {
          blur true
          xray true
          noise 0
          saturation 1
    }
}

window-rule {
    match app-id="firefox"
    match app-id="md.Obsidian"
    match app-id="io.github.elyprismlauncher.ElyPrismLauncher"
    match app-id="zen"
    match app-id="vesktop"
    match app-id="losslesscut"
    match app-id="io.github.celluloid_player.Celluloid"
    match app-id="org.gnome.Evince"
    match app-id="org.gnome.eog"
    match app-id="de.haeckerfelix.Fragments"
    match app-id="steam"
    match app-id="org.gnome.Nautilus"
    match app-id="nwg-look"
    match app-id="org.gnome.seahorse.Application"
    match app-id="dev.noctalia.Noctalia"
    default-column-width { proportion 1.0; }
}
window-rule {
    match app-id="org.telegram.desktop"
    match app-id="kitty"
    default-column-width { proportion 0.66667; }

}

