window-rule {
    // open-floating false
    geometry-corner-radius 12
    clip-to-geometry true
    opacity 0.9
    draw-border-with-background false
    focus-ring {
        off
    }
    border {
         on
         width 2
    }
    shadow {
          off
          spread 0
          offset x=0 y=4
          color "#00000040"
          inactive-color "#00000026"
    }
    default-column-width { fixed 624; }
    open-fullscreen false
    background-effect {
          blur true
          xray true
          noise 0
          saturation 1
    }
}

window-rule {
    match app-id="firefox"
    match app-id="obsidian"
    match app-id="io.github.elyprismlauncher.ElyPrismLauncher"
    match app-id="zen"
    match app-id="vesktop"
    match app-id="losslesscut"
    match app-id="io.github.celluloid_player.Celluloid"
    match app-id="org.gnome.Evince"
    match app-id="org.gnome.eog"
    match app-id="de.haeckerfelix.Fragments"
    match app-id="steam"
    default-column-width { fixed 1260; }
}
window-rule {
    match app-id="org.telegram.desktop"
    match app-id="kitty"
    match app-id="nautilus"
    default-column-width { fixed 836; }
}
window-rule {
    match app-id="scrcpy"
    default-column-width { fixed 800; }
    default-window-height { fixed 360; }
}
