animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
    }
    window-open {
        duration-ms 50
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 50
        curve "ease-out-expo"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
    }
}
